DEATHSTARTEXTURE.TEX
ENUMVIDEO.EXE
EULA.txt
GOGLauncher.exe
GameuxInstallHelper.dll
HAYESMAKER (2).PLT
IVFiles/
Launch STAR WARS - X-Wing (1998).lnk
License.txt
MUSIC/
Manual.pdf
README.TXT
Support.ico
TRENCHTEXTURE.TEX
Website.exe
X-Wing Data/
XWING95.EXE
XWING95ERR.TXT
XWINGCD/
XWINGTIE.EXE
cdrom.cfg
dsfvorbisdecoder_eula.txt
gog.ico
goggame-1207666393.dll
goggame-1207666393.ico
goggame-1207666393.info
goggame.sdb
goglog.ini
libogg-0.dll
libvorbis-0.dll
libvorbisfile-3.dll
prefs.cfg
register.exe
unins000.dat
unins000.exe
unins000.msg
webcache.zip
winmm.dll